<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
  <div class="container">
    <table class="table">
      <thead class="thead-light">
      <tr class="text-center">
        <th scope="col">no.</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
      </thead>
      <tbody>
      <tr class="text-center" th:each="post:${boardList}">
        <th scope="row">
          <span th:text="${post.id}"></span>
        </th>
        <td>
          <a th:href="@{'/post/' + ${post.id}}">
            <span th:text="${post.title}"></span>
          </a>
        </td>
        <td>
          <span th:text="${post.author}"></span>
        </td>
        <td>
          <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="page">
      <ul class="pagination justify-content-center pagination-green" >

        <!-- 이전 페이지 버튼 -->
        <li class="page-item" th:classappend="${1 == nowPage }? 'disabled'">
          <a th:href="@{/(page=${nowPage -2})}" class="page-link">Prev</a>
        </li>

        <!-- 현재 페이지 및 블럭 -->
        <li class="page-item" th:classappend="${page == nowPage }? 'active'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
          <a th:href="@{/(page=${page-1})}" class="page-link" th:text="${page}" >1</a>
        </li>

        <!-- 다음 페이지 버튼-->
        <li class="page-item" th:classappend="${totalPages == nowPage }? 'disabled'">
          <a th:href="@{/(page=${nowPage})}" class="page-link">Next</a>
        </li>

      </ul>
    </div>
    <div class="row">
      <div class="col-auto mr-auto"></div>
      <div class="col-auto">
        <a class="btn btn-primary" th:href="@{/post}" role="button">글쓰기</a>
      </div>
    </div>
  </div>
</div>